cloudpickle==1.1.1
cma
deap
gpyopt
hyperopt
matplotlib
pandas
phoenics
pkginfo
protobuf
pyDOE
pyswarms
pyyaml
scipy
scikit-learn
silence-tensorflow
seaborn
setuptools>=41.0.0
silence_tensorflow
#smac==0.9.0
sobol_seq
sqlalchemy
SQSnobFit
tensorflow==1.15
tensorflow-probability==0.8
